* {
    box-sizing: border-box;
}

.clearfix::before,.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

body {
    background: #fafafa;
    margin: 0px;
    font: 17px/1.7 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color:#555;
}

img {
    border:none;
}

.wrapper {
    width: 960px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    margin:10px auto;
    padding: 0 30px;
}

.post-title {
    font-weight: normal;
    color: #96a1b9;
    text-align: center;
    margin: 10px 0;
}

.post-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.header {
    background: #0c2ba9;
    height: 70px;
}
