*{
    box-sizing: border-box;
}



.clearfix::before,.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

body {
    background: #fafafa;
    margin: 0px;
}

.header {
    background: #0c2ba9;
    height: 70px;
}

.wrapper {
    height: 200px;
    width: 960px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    margin:10px auto;
}

.block {
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

.block1 {
    width: 300px;
    height: 300px;
    background: #6df7f1;
    float: left;
}

.block2 {
    width: 400px;
    height: 400px;
    background: #041d10;
    float: right;
}



.container {
    width: 750px;
    margin: 0 auto;
    background: #4a4425;
}



.footer {
    background: #caf374;
}

.footer-section {
    float: left;
}

