body {
    background: #fafafa;
    margin: 0px;
}

.header {
    background: #0c2ba9;
    height: 70px;
}

.wrapper {
    height: 200px;
    width: 960px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    margin:10px auto;
}
